.chart {
  font-family: "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.axis-tick-label {
  font-size: 12px;
}

.axis,
.axistick {
  transition: all 0.25s ease;
}
.path {
  transition: all 0.25s ease;
}

.bar {
  transition: all 0.25s ease;
}